body{
    background-image: url(./bg.jpg);
    background-position: top center; /*Centraliza e deixa no topo*/
    background-size: 100% auto;
    background-repeat: no-repeat; /*Não repete a imagem*/
    background-color: #121214;
}

main {
    max-width: 580px; /* máximo de largura*/
    width: 90%; 
    margin: auto; /*margem da tela automática*/
}